In [1]:
a=10
print(a)

10

In [2]:
a,a,a,a

(10, 10, 10, 10)

In [3]:
# hello
## hello
### hello

In [4]:
1+3

4

In [5]:
print(1+4)

5

In [6]:
a=3
print(a)

3

In [7]:
print( "hello world my name is eren yeager \n i work for freedom")

hello world my name is eren yeager
 i work for freedom

Variable Assignment

# hello
## hello
### hello

In [8]:
name="eren yeager"
profession =" freedom fighter "

In [9]:
type("sdfdfdfd")

str

In [10]:
type(name)

str

In [11]:
name="bala"
name

'bala'

In [12]:
name

'bala'

In [13]:
profession

' freedom fighter '

In [14]:
number=10
type(number)

int

In [15]:
number =20
number

20

In [16]:
number

20

In [17]:
decimal_num=2.4

In [18]:
decimal_num

2.4

In [19]:
type(decimal_num)

float

In [20]:
type(1+2j)

complex

In [21]:
# bad way 
# don't start the variable name with number
1a 
3answer

SyntaxError: invalid decimal literal (2309609650.py, line 3)

In [ ]:
number1=23

In [ ]:
# variable are case sensitive 
company='ineuron'
Company='pwskill'
print(company)
print(Company)

ineuron
pwskill

## Reserved keyword

In [23]:
''' int float ,len,complex , bool ,str,return ,
yeild'''

' int float ,len,complex , bool ,str,return ,\nyeild'

In [24]:
float=32

In [25]:
## boolean 
True

True

In [26]:
True and False

False

In [27]:
True or False

True

In [28]:
not True

False

In [29]:
type(not False)

bool

In [41]:
# Typecasting
bool(0)

False

In [42]:
str(object=23)

'23'

In [44]:
int('23')

23

In [33]:
type(int('23'))

int

In [34]:
bool(1)

True

In [35]:
a=1
if bool(a)==True:
    print("Ture")

Ture

Double-click (or enter) to edit

Dynamic Typing

In [36]:
a=12
str1="eren"
a="var"

In [37]:
print(type(a))

<class 'str'>

In [38]:
int(2.3)

2

In [39]:
int("1")+"1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
"1"*100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'