In [2]:
x  = int(2)
y = int(3)

In [3]:
del x
y = None

In [4]:
x

NameError: name 'x' is not defined

In [5]:
x = int(2)
y = int(3)

In [7]:
u: int = x+y
v : int = x*y

In [8]:
u,v

(5, 6)

In [9]:
import math

In [10]:
z:float = math.sin(x)
r : float = 8*math.cos(y)
z,r

(0.9092974268256817, -7.919939972803563)

In [11]:
from math import sin, cos

In [13]:
s :float = 5*sin(x*y)
p : float = x**y
print("s->",s, "p->", p)

s-> -1.3970774909946293 p-> 8

In [14]:
S : str = "123"
N : float = float(S)
print("S->", S, "N->", N)
print(type(S), type(N))

S-> 123 N-> 123.0
<class 'str'> <class 'float'>

In [15]:
s1 : str = "HELLO"
s2 : str = "hello"
print(s1 == s2)

False

In [16]:
print(s1.lower() == s2)
print(s1 == s2.upper())

True
True

In [17]:
"python" in "python is great"

True

In [18]:
str1 = "python is great"
print(str1.split()[-1])

great

In [19]:
print(len("engineering"))

11

In [25]:
list1 :list = [1, 2, 20, 4, 5]
list1.insert(0,2)

In [26]:
list1

[2, 1, 2, 20, 4, 5]

In [27]:
list1.append(8)

In [31]:
type(list1) == object

False

In [28]:
list1

[2, 1, 2, 20, 4, 5, 8]

In [29]:
sorted(list1)

[1, 2, 2, 4, 5, 8, 20]

In [34]:
python_str : str = "python is great"
python_list : list= python_str.split()

In [35]:
python_list

['python', 'is', 'great']

In [37]:
set1 = set([2,3,2,3,1,2,5])

In [38]:
set1

{1, 2, 3, 5}

In [51]:
set_a =(2,3,2)
set_b = (1,2,3,4)

In [52]:
# set_a and set_b union
set_union = set(set_a).union(set_b)

In [53]:
set_union

{1, 2, 3, 4}

In [54]:
set_intersection = set(set_a).intersection(set_b)

In [55]:
set_intersection

{2, 3}

In [58]:
# difference of set_a to set_b using difference method
set_difference = set(set_b).difference(set_a)

In [59]:
set_difference

{1, 4}

In [60]:
dict1 : dict = {
    "A": 'a',
    "B": 'b',
    "C": 'c',
}

In [61]:
print(dict1)

{'A': 'a', 'B': 'b', 'C': 'c'}

In [62]:
x: list[int] = [1, 4, 3, 2, 9, 4] 
y: list[int] = [2, 3, 4, 1, 2, 3]

In [ ]:
import numpy as np
arr = np.random.randint(-10,10,size=(100))

In [68]:
from typing import Any

from numpy._typing import NDArray

arr_linespace: NDArray[float] = np.linspace(-10, 10, 100)
print(arr_linespace)

[-10.          -9.7979798   -9.5959596   -9.39393939  -9.19191919
  -8.98989899  -8.78787879  -8.58585859  -8.38383838  -8.18181818
  -7.97979798  -7.77777778  -7.57575758  -7.37373737  -7.17171717
  -6.96969697  -6.76767677  -6.56565657  -6.36363636  -6.16161616
  -5.95959596  -5.75757576  -5.55555556  -5.35353535  -5.15151515
  -4.94949495  -4.74747475  -4.54545455  -4.34343434  -4.14141414
  -3.93939394  -3.73737374  -3.53535354  -3.33333333  -3.13131313
  -2.92929293  -2.72727273  -2.52525253  -2.32323232  -2.12121212
  -1.91919192  -1.71717172  -1.51515152  -1.31313131  -1.11111111
  -0.90909091  -0.70707071  -0.50505051  -0.3030303   -0.1010101
   0.1010101    0.3030303    0.50505051   0.70707071   0.90909091
   1.11111111   1.31313131   1.51515152   1.71717172   1.91919192
   2.12121212   2.32323232   2.52525253   2.72727273   2.92929293
   3.13131313   3.33333333   3.53535354   3.73737374   3.93939394
   4.14141414   4.34343434   4.54545455   4.74747475   4.94949495
   5.15151515   5.35353535   5.55555556   5.75757576   5.95959596
   6.16161616   6.36363636   6.56565657   6.76767677   6.96969697
   7.17171717   7.37373737   7.57575758   7.77777778   7.97979798
   8.18181818   8.38383838   8.58585859   8.78787879   8.98989899
   9.19191919   9.39393939   9.5959596    9.7979798   10.        ]

Let array_a be an array [-1, 0, 1, 2, 0, 3]. Write a command that will return an array consisting of all the elements of array_a that are larger than zero. Hint: Use logical expression as the index of the array.

Create an array y=[[[3,5,3],[2,2,5],[3,8,9]]]
 and calculate the transpose of the array.

Create a zero array with size (2, 4).

Change the 2nd column in the above array to 1.

Write a cell magic to clear all the variables in the Jupyter notebook